<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  </head>
  <body class="container">

    <div class="column-left" style="display: flex; justify-content: center; align-items: center;margin-top: auto;">

        <form>

          <div>
              <label>Username</label>
              <input type="text"  placeholder="username">
          </div>

          <div>
            <label>Password</label>
            <input type="password" placeholder="password" >
          </div>


          <input type="submit" value="connect">
        </form>
    </div>
    <div class="column-right">


    </div>

  </body>
</html>
